/*!
* Tema HU Tech Talks
* Copyright 2014 Hotel Urbano, Inc.
* HU DEV TEAM BUILDING DREAMS
* Authors:
*           Vitor Mattos
*           Luiz Eduardo Le Masson
*     
*/


/* Override do TopMenu */
.navbar-nav li a:hover{
    border-bottom: 2px solid orange;
}

/* Override Facebook LikeButton */
.fb-like {
  padding: 14px;
}

.pagination-centered {
  text-align: center;
}

body {
  background-image: url("../images/fundo.jpg");
  background-repeat: no-repeat;
  background-position: center 20px;
}

.bs-component li div:first-child {
    width: 50%;
}