/*!
* Tema HU Tech Talks
* Copyright 2014 Hotel Urbano, Inc.
* HU DEV TEAM BUILDING DREAMS
* Authors:
*           Vitor Mattos
*           Luiz Eduardo Le Masson
*           Patricia Evora
*     
*/

/* Override Facebook LikeButton */
.fb-like {
  padding: 14px;
}

div.vertical-line{
 background-color:#EFEEEC;
 width: 2px;
 height: 100px;
 float: left;
 margin:15px;
}

.pagination-centered {
  text-align: center;
}

body {
  font-family: 'Lato', sans-serif;
  color: #003964;
}

#sobre {
  height:860px;
  background: url("../images/fundo.jpg") no-repeat center 170px;
  background-size: cover;
}

.bs-component li div:first-child {
    width: 50%;
}

.sprite{background: url(../images/icons.png) no-repeat top left;}


/* icons */
[class^="cus-"],
[class*=" cus-"] {
  display: inline-block;
  width: 17px;
  height: 16px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(../images/icons.png);
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
[class^="cus-"]:last-child,
[class*=" cus-"]:last-child {
  *margin-left: 0;
}

.cus-close{ background-position: 0 0; width: 33px; height: 33px; cursor: pointer} 
.cus-github{ background-position: 0 -35px; width: 33px; height: 31px; } 
.cus-hu{ background-position: 0 -69px; width: 40px; height: 22px; } 
.cus-open{ background-position: 0 -93px; width: 33px; height: 33px; cursor: pointer;} 
.cus-linkedin{ background-position: 0 -128px; width: 33px; height: 31px; }

/* PAT */
.container{padding: 0;}
.light{font-weight: 300;}

/* HEADER */
.navbar-default{background: #fff; border: none; /*box-shadow: 0 2px 4px #ccc;*/}
.navbar-brand{height: auto;}
.navbar-nav{margin: 60px 0 0 40px;}
.navbar-default .navbar-nav > li > a{color: #003964; padding: 10px 0; margin: 0 15px;}
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{color: #003964;}	
	/* Override do TopMenu */
	.navbar-nav li a:hover{border-bottom: 1px solid orange;}
	
.btn-warning{font-size:32px;background-color:#EA7F1E;padding:0 50px;}

#sobre .container .row-fluid{z-index:10;position: absolute;top: 170;height:415px}
#sobre .container .row-fluid p{padding: 37px 0;}

/* CONTENT */
.font18, .row{font-size: 18px;}
.text-warning, a.text-warning:hover{color: #ea7f1e;}
h1, h2{font-size: 32px; margin-top: 50px;}
.horario .linha{border-bottom: 1px solid #003964; width: 100%; float: left; position: absolute; top: 15px;}
#programacao>.row{margin: 20px -15px;}
#programacao>.row .col-xs-3{overflow: hidden;}
#programacao>.row .col-xs-3 strong{background: #fff; padding-right: 15px; position: relative; float: left; z-index: 1;}
#programacao>.row .col-xs-6{max-width: 370px;}

.detail{position: relative;}
.detail .linha{border-bottom: 1px solid #003964;margin-left: 15px;margin-top: 15px;}
.detail p.palestrante{clear: both; float: left; margin: 15px 10px 15px 0;}
.detail a{margin: 12px 5px 0; float: left;}
.detail .col-xs-12 {overflow: none;}
.col-xs-1 .duas-linhas{margin-top: 12px;} /* quando o título da palestra tiver 2 linhas */

#mapa{background: url(../images/fundo.jpg) no-repeat center 150px; background-size: cover;}
#mapa .fundo{background: rgba(252, 194, 56, 0.7);}
#mapa h2, #mapa p{color: #fff;}
#mapa h2{margin-bottom: 20px;}
#mapa .col-md-8{margin-top: 40px;}

.google-maps {
	height: auto;
	max-width: 100%;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
	clear:left;
	margin-bottom: 40px;
}
.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* FOOTER */
footer{margin: 20px 0;}
footer .row-fluid>div.first{margin-top: 38px;}
footer .row-fluid>div.last{margin-top: 25px;}

/* ANCORAS */
#sobre{margin-bottom:-150px;}
#evento{padding-top: 150px; margin-bottom:-150px;}
#mapa{padding-top: 150px;}

/* LIGHTBOX */
#registerModal h1{color: #ea7f1e;}
.modal-header, .modal-body, .modal-footer{padding: 0;}
.modal-header{border-bottom: none;}
.modal-header p.font18{margin-top: 20px;}
.modal-content{padding: 35px 50px; position: relative;}

.modal-content ul.profissao{list-style: none; margin: 0 0 15px 0; padding: 0 15px;}
.modal-content ul.profissao:after{content: ""; clear: both;}
.modal-content li.qualProfissao{box-sizing: border-box; float: left; height: 34px; position: relative; width: 34px;}
.modal-content li.qualProfissao + .qualProfissao{margin-left: 95px;}
.modal-content li.qualProfissao label{
  background: #efeeed no-repeat center center;
  bottom: 0; left: 0; right: 0; top: 0;
  cursor: pointer;
  display: block;
  position: absolute;
  text-indent: 100%;
  white-space: nowrap;
  margin: 0;
}
.modal-content li.qualProfissao label span{margin: 3px 0 0 5px; float: left;}
/*
.modal-content ul.profissao input:checked + label:after{
  background: url(../images/opcao-escolhida.png);
  bottom: -10px;
  content: "";
  display: inline-block;
  height: 20px;
  position: absolute;
  right: -10px;
  width: 20px;
}
*/

.modal-dialog {
    margin: 30px auto;
    max-width: 850px;
    width: auto;
}

.modal-content ul.profissao input:focus + label {outline: 2px dotted #21b4d0;}
.modal-content ul.profissao input:checked + label {outline: 4px solid #21b4d0;}

.modal-body{margin-top: 40px;}
.modal-body label{font-weight: 300; float: left; padding: 0;}
.modal-body input.form-control, .modal-body textarea.form-control{float: left; background: #efeeed; border: none; box-shadow: none; border-radius: 0; font-weight: 300; font-size: 18px;}
.modal-body select{
	-moz-appearance: none;
    background: url(../images/seta-select.png) no-repeat scroll 97% 50% #efeeed;
    box-shadow: none;
	border: none;
	border-radius: 0;
	cursor: pointer;
    height: 35px;
    padding-left: 5px;
    text-indent: 0.01px;
    text-overflow: "";
    width: 60px;
	font-weight: 300;
	font-size: 18px;
}
.modal-body select.cidade{width: 83%;}
.modal-body select.estado{width: 75%;}
.form-control:focus{box-shadow: none;}
.modal-footer{border-top: none;}

.visible-lg .close{font-weight: 100; font-size: 150px; color: #fff; position: absolute; top: -50px; right: -87px; opacity: 1; text-shadow: none;}
.hidden-lg .close{font-size: 50px; color: #fff;}

.btn{white-space: normal;}
